.all-times {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  align-self: center;
  grid-template-rows: 1fr auto auto auto 1fr;
  grid-template-areas:
    ". . ."
    ". logo ."
    ". absoluteTime ."
    ". relativeTime . "
    ". . . ";
}

.logo {
  grid-area: logo;
  justify-self: center;
  text-align: center;
  //height: 0;
}

.season-images {
  //grid-area: logo;
  //display: flex;
  //justify-self: center;
  //text-align: center;
  height: 0;
}

.time-absolute {
  grid-area: absoluteTime;
  display: flex;
  justify-self: center;
}

.time-relative {
  grid-area: relativeTime;
  display: flex;
  justify-self: center;
}

.time {
  margin: 1em;
  padding: 1em;
  font-size: large;
  width: 6em;
}

.custom{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.minutes {
  width: 5em;
}

