<div class="all"
>
  <div class="logo"
  >
    <img src="../../assets/nadin-logo.gif"
         alt="nadin logo"
    />
  </div>

  <div class="logo" [ngSwitch]="getTheme()">
    <div *ngSwitchCase="'Winter'">
      <img src="../../assets/christmas-hat-png.png" alt="nadin logo"
           class="christmas-hat"
      />
    </div>
    <div *ngSwitchCase="'Spring'">
      <img src="../../assets/banner-flowers.png" alt="nadin logo"
           class="banner-flowers"
      />
    </div>
  </div>
</div>

